/* Estilo para los turnos en estado "LLAMADO" */
.movimiento {
  background-color: #ff0000; /* Fondo rojo sólido */
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Sombra para mejorar el contraste */
}

.w3-animate-zoom {
  animation: animatezoom 1.1s;
}

@keyframes animatezoom {
  from { transform: scale(0); }
  to { transform: scale(1); }
}

.tamanoletra {
  font-size: 1rem; /* Tamaño más pequeño para pantallas grandes */
}

@font-face {
  font-family: "DS-Digital";
  src: url("../fuente_reloj/BebasNeue-Regular.ttf") format('truetype');
}

.fuentereloj {
  font-family: "DS-Digital";
  color: #32325d;
  font-size: 1.5rem; /* Tamaño más grande para pantallas grandes */
  text-align: center;
}

/* Responsive design */
@media (max-width: 768px) {
  .tamanoletra {
      font-size: 0.8rem; /* Tamaño más pequeño para pantallas medianas */
  }
  .fuentereloj {
      font-size: 1.2rem; /* Tamaño más pequeño para pantallas medianas */
  }
}

@media (max-width: 480px) {
  .tamanoletra {
      font-size: 0.6rem; /* Tamaño aún más pequeño para pantallas pequeñas */
  }
  .fuentereloj {
      font-size: 1rem; /* Tamaño aún más pequeño para pantallas pequeñas */
  }
}